
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}


.icon-left,.icon-right{
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: white;
    color: #EBF3FF;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    display: none;

}
.icon-right{
    top: 49%;
    right: 1rem;
}
.icon-left{
    top: 49%;
    left: 1rem;
    z-index: 1000;
}


.slider-spans-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    /* margin-block: 1rem 0.7rem; */
   
    list-style: none;
}

.slider-spans-container li{
   
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slider-span{
height: 5px;
width: 5px;
background: #B0B6BF;
border-radius: 50%;
}
.slider-spans-container li:hover .slider-span {
    background-color: black;
}

.active-slider-span{
    background: #3B3D40;
}


@keyframes slideright {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes sliderleft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.slide-right {
  animation: slideright 0.5s ease;
}

.slide-left {
  animation: sliderleft 0.5s ease;
}

.trainer-container{
padding: 1rem;
    max-width: 1280px;
    margin-inline: auto;
}
.trainer-title h3{
    color: #1d3464;
    font-size: 28px;
    text-align: center;
    padding-block: 2rem 1rem;
}

.trainer-title span{
    color: #A1b3ce;
}




.dragged {
    user-select: none;
    cursor: grabbing;
}

/* trainer */

.trainer-title{
    text-align: center;
}
.trainer-title p{
    font-size: 18px;
    margin-bottom: 0.5rem;
}
.trainer-div{
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
     user-select: none;
    cursor: grabbing;
   
}
.higlight-trainer{
    background: rgb(213, 221, 236);
    border: 2px solid rgb(226, 191, 105);
}
.trainer-img {
    
    height: 200px; 
    overflow: hidden; 
}
.trainer-img img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    display: block;
}

.trainer-name{
font-size: 18px;
font-weight: 600;
margin-top: 0.7rem;

}
.trainer-line{
    width: 100%;
    height: 2px;
    background: rgb(226, 191, 105);
    margin-block: 0.5rem;
}
.trainer-text{
    display: grid;
    line-height: 1.5;

}

.trainer-text i,.trainer-text p{
font-size: 18px ;
}
.see-more-btn{
    color: #435780;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    margin-block: 0.5rem;
   

}
.trainer-text-container{
    margin-block: 3rem;
    display: grid;
   width: 300%;
   grid-template-columns: 1fr 1fr 1fr;
   /* animation: slideright 0.5s ease; */
   overflow: hidden;
    
}
.trainers{
    visibility: hidden;
}
.trainers.visible {
  visibility: visible;
}
.trainer-content{
    transition: transform 1s ease-out;
}
.grabbing {
  cursor: grabbing;
}

 .trainer{
    overflow: hidden;
 }
@media screen and (min-width:769px) {
   
.trainer-title p{
    font-size: 20px;
  
}
.trainer-title h3{
    font-size: 44px;
   
}
.trainer-name{
font-size: 24px;
}
}
@media screen and (min-width:1024px) {
    .icon-left,.icon-right{
        display: block;
    }
    
    

.trainer-container{
    padding-inline: 5rem;
}


    .trainers{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .see-more-btn{
       
    
  text-align: start;
  


}
.trainer-img {
    
    height: 350px; 
}
}